.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.label {
  margin-right: 220px;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #8d929a;
}

.kmInputWrapper {
  position: relative;
}

.kmLabel {
  position: absolute;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #101828;
  pointer-events: none;
  transition: all 0.2s ease;
}

.kmInput:focus + .kmLabel,
.kmInput:not(:placeholder-shown) + .kmLabel {
  font-size: 10px;
  top: -5px;
  color: #333;
}
.kmInputs {
  display: flex;
}

.kmInput {
  width: 160px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;

  border-radius: 12px 0 0 12px;
  padding-left: 52px;
  background-color: #f7f7f7;
}
.kmInputWithBorder {
  border-right: 1px solid #dadde1;
}

.padding {
  padding-left: 32px;
  border-radius: 0 12px 12px 0;
}
.separator {
  font-size: 16px;
  margin: 0 10px;
  color: #333;
}
