.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
.loadMore {
  margin-top: 80px;
  border: 1px solid #3470ff;
  background-color: transparent;
  color: #101828;
  padding: 0px;
  width: 156px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.loadMore:hover,
.loadMore:focus {
  background-color: transparent;
  border: 1px solid #0b44cd;
}
.btnContainer {
  display: flex;
  justify-content: center;
}
